[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/ksmirnov/app
ExecStart=/home/ksmirnov/.local/lib/python3.10/site-packages/gunicorn app:app -b 0.0.0.0:8080 -w 4
Restart=Always

[Install]
WantedBy=multi-user.target