[Unit]
Description=Flask app service
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/home/ksmirnov/app
Type=oneshot
RemainAfterExit=yes
ExecStart=gunicorn app:app -b 0.0.0.0:8080 -w 4
Restart=always

[Install]
WantedBy=multi-user.target